* {
  box-sizing: border-box;
}


/* Start here */

body {

}

.time{
  font-family: arial;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 260px;
  -webkit-text-stroke: 2pt black;
  color: white;
}

.money{
  font-family: arial;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 260px;

  color: black;
}

.image_swap{
  margin: auto;
  width: 600px;
}

.image_swap img{
  max-width: 100%;
}

.message{
  text-align: center;
  font-size: 350px;
  font-family: arial;


}

.sold{
  z-index: -1;
  color: red;
  position: absolute;
  margin-left:-450px;
  margin-top: -20px;
}



.video-container {
position: absolute;
padding-bottom: 56.25%;
padding-top: 0px;
height: 0;
overflow: hidden;
top:170px;
left: 480px;
width: 50%;
height: 50%;
z-index: -100;
}
