<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout2</title>
    <style media="screen">

    .inlineblock {
      display:inline-block;
      width:300px;
      vertical-align: bottom;
      border: 3px solid;
      padding: 5px;
      margin:10px;
      font-family: sans-serif;

    }


    .widthdouble {
      width:600px;
    }
    </style>
  </head>
  <body>
    <div class="inlineblock">
BE MORE POSITIVE
     </div>

    <div class="inlineblock widthdouble">
BE MORE POSITIVE
    </div>

    <div class="inlineblock">
BE MORE POSITIVE
    </div>

  </body>
</html>
