* {
  box-sizing: border-box;
}


/* Start here */

body {

}

.time{
  font-family: arial;
  font-size: 120px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 150px;
  -webkit-text-stroke: 2pt black;
  color: white;
  z-index: -10;

}

.money{
  font-family: arial;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 260px;
  position: absolute;
}

.money{
  display: none;
}



.message{
  text-align: center;
  font-size: 350px;
  font-family: arial;
}



.cost{
  text-align: center;
  font-family: arial;
  font-size: 20px;
  color: red;
  position: absolute;
  left:600px;
  z-index: 10;

}


.sold {
  display:none;
  color:red;
}

.sold.show {
  display:block;
  position: absolute;
  margin: auto;
  font-size: 500px;
  margin-left: 40px;
}

.video1{
  display:block;
  top:140px;
  left:480px;
  position: absolute;
  overflow: hidden;
  z-index: -10;

}

.video2{
  display: none;
}

.video3{
  display: none;
}

.video4{
  display: none;
}

.video5{
  display: none;
}

.video6{
  display: none;
}
