
.type {
  font-family: arial;
  font-size: 50px;
  text-align: center;
  color:white;
  width:100%;

}
.typetwo {
  font-family: arial;
  font-size: 50px;
  text-align: center;
  color:white;
  width:80%;

}

.typethree {
  font-family: arial;
  font-size: 15px;
  text-align: center;
  color:white;
  width:80%;
  text-shadow: blue 0.1em 0.1em 0.2em;

}
.yellow{
  color: yellow;
}

.white{
  color: white;
}



h1{
  font-family: arial;
  font-size: 25pt;
  color: red;
  text-align: center;
  margin-top: 50px;
}

.textshadow{
  text-shadow: blue 0.1em 0.1em 0.2em
}
.textshadowwhite{
  text-shadow: white 0.1em 0.1em 0.2em
}

body{
  background-color: lightyellow;
}

p{
  font-family: arial;
  font-size: 20pt;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
}


blockquote{
  margin-left: 500px;
  margin-right: 500px;
  text-align: justify;
  font-size: 12pt;
  font-family: arial;
  border: none;
  padding: 20px;
}

/*scrollindex*/


a:link{
  color: red;
  text-decoration: none;
  }

#white a:link {
    color: white;
}





a:visited{
  color: blue;
}
#white a:visited{
  color: blue;
}
/* title */
.rotate-x {
  animation: spinX 7s infinite linear;
}

.rotate-x.two {
  animation: spinX 10s infinite linear;
}

@keyframes spinX {
  from { transform: rotateX(0); }
  to { transform: rotateX(360deg); }
}

.rotate-Y {
  animation: spinY 7s infinite linear;
}

@keyframes spinY {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

.arrow{
  margin-left: 620px;
  margin-top: 600px;
  position: fixed;

}
.contents{
	position: fixed;
	font-family: arial;
	border: 1px solid;
	border-color: RED;
	padding: 15px;
	font-size: 11pt;
	width: 200px;
	margin-left: 30px;
	top: 60px;
	color: black;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
}
.home{
	position: fixed;
font-family: arial;
text-align: center;
	border: 1px solid;
	border-color: RED;

  background-size: 150px;
  width: 50px;
  height: 50px;
	margin-left: 1150px;
	top: 60px;
	color: black;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
}

.index{
  font-family: arial;
  font-size: 20pt;
  text-align: center;
  width: 500px;
  margin-top: 200px;
  text-transform: uppercase;
}

/* inset text images*/
.thumbnail{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
  align-items: baseline;

}
.thumbnailsplit{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailjoyless{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;

}

.thumbnailwakeup{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailonline{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailbuilding{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailtruism{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
  transform-origin: 20% 50%;
}

.thumbnailyourself{
  display: inline block;
  height: 30px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailoffline{
  display: inline block;
  width: 20px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailrealname{
  display: inline block;
  width: 30px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailpassport{
  display: inline-block;
  width: 30px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}
.thumbnailgesture{
  display:inline-block;
  width: 30px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailamazon{
  display:inline-block;
  width: 30px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailanonymous{
  display:inline-block;
  width: 30px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}
.thumbnailsynchronized{
  display:inline-block;
  width: 30px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}




/*hoverthumbnails*/
.thumbnail:hover {
    width:600px;
transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
    transform: scale(1,1)
}
.thumbnailsplit:hover {
    width:600px;

    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;


}

.thumbnailjoyless:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailwakeup:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailonline:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailbuilding:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}
.thumbnailtruism:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailyourself:hover {
    height:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailoffline:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailrealname:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}
.thumbnailpassport:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailgesture:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}
.thumbnailamazon:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailanonymous:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}
.thumbnailsynchronized:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}




.link{
  color: blue;
}

.rollover{
  color: red;
}
.rollover:hover{
  color: blue;
}

.google{
  text-decoration: underline;
}

.google:hover{
  text-decoration: underline red;

}

.appear{
  position: fixed;
  display: none;
  pointer-events: all;
  cursor: pointer;
  top: 50px;
  left: 20px;
}

.appear.showme{
  display: block;
  top: 50px;
  left: 20px;
}

.rotate{
  position: fixed;
  visibility: hidden;
  pointer-events: all;
  transition: all 1s;
  transform: scale(0)rotate(0deg);
  cursor: pointer;


}

.rotate.showme{
  visibility: visible;
  transition: all 1s;
  transform: scale(1) rotate(360deg);
  position: fixed;
  display: block;
}

.disappear{
  position: fixed;
  display: block;
  pointer-events: none;
  top: 50px;
  left: 20px;

}
.disappear.showme{
  display: none;
  top: 50px;
  left: 20px;

}

.singlekey__image{
  margin-top: 200px;
  margin-left:300px;
}

.computer__image{
  margin-top: 90px;
  margin-left: 360px;
  width: 150px;
}
.record__image{
  margin-top: 200px;
  margin-left: 420px;
  width: 150px;
}

.TITLE__image{
  margin-top:-510px;
  margin-left: -500px;
  width: 50px;


}
.TITLEtwo__image{
  margin-top:-210px;
  margin-left: -300px;
  width: 100px;
}
.TITLEthree__image{
  margin-top:-240px;
  margin-left: 180px;
  width: 230px;
}.TITLEfour__image{
  margin-top:-150px;
  margin-left: -200px;
  width: 180px;
}.TITLEfive__image{
  margin-top:-110px;
  margin-left: 400px;
  width: 70px;
}

.toomuch_image{
  margin-top: 10px;
  margin-left: 10px;
  width: 980px;
}
.vague__image{
  margin-top: 150px;
  margin-left: 420px;
  height: 40px;
  border: 1px red solid;
}

.memories__image{
  margin-top: 300px;
  margin-left: 620px;
  height: 40px;
  border: 1px red solid;
}

.recall__image{
  margin-top: 200px;
  margin-left: 520px;
  height: 40px;
  border: 1px red solid;
}

.remember__image{
  margin-top: 100px;
  margin-left: 340px;
  height: 40px;
  border: 1px red solid;
}

.folklore__image{
  margin-top: 360px;
  margin-left: 590px;
  height: 40px;
  border: 1px red solid;
}

.clobbering__image{
  margin-top: 250px;
  margin-left: 820px;
  height: 40px;
  border: 1px red solid;
}

.dangerous__image{
  margin-top: 400px;
  margin-left: 420px;
  height: 40px;
  border: 1px red solid;
}

.percolate__image{
  margin-top: 300px;
  margin-left: 920px;
  height: 40px;
  border: 1px red solid;
}

.integers__image{
  margin-top: 250px;
  margin-left: 120px;
  height: 40px;
  border: 1px red solid;
}

.representing__image{
  margin-top: 200px;
  margin-left: 420px;
  height: 40px;
  border: 1px red solid;

}

.real__image{
  margin-top: 100px;
  margin-left: 520px;
  height: 40px;
  border: 1px red solid;

}
.realtwo__image{
  margin-top: 200px;
  margin-left: 120px;
  height: 40px;
  border: 1px red solid;

}
.realthree__image{
  margin-top: 240px;
  margin-left: 20px;
  height: 40px;
  border: 1px red solid;
}
.realfour__image{
  margin-top: 400px;
  margin-left: 420px;
  height: 40px;
  border: 1px red solid;
}
.realfive__image{
  margin-top: 360px;
  margin-left: 820px;
  height: 40px;
  border: 1px red solid;
}
.realsix__image{
  margin-top: 500px;
  margin-left: 230px;
  height: 40px;
  border: 1px red solid;
}
.realseven__image{
  margin-top: 600px;
  margin-left: 620px;
  height: 40px;
  border: 1px red solid;
}
.realeight__image{
  margin-top: 570px;
  margin-left: 990px;
  height: 40px;
  border: 1px red solid;
}
.realnine__image{
  margin-top: 370px;
  margin-left: 50px;
  height: 40px;
  border: 1px red solid;
}
.realten__image{
  margin-top: 480px;
  margin-left: 400px;
  height: 40px;
  border: 1px red solid;
}
.realeleven__image{
  margin-top: 500px;
  margin-left: 30px;
  height: 40px;
  border: 1px red solid;
}
.realtwelve__image{
  margin-top: 610px;
  margin-left: 320px;
  height: 40px;
  border: 1px red solid;
}

.conception__image{
  margin-left: 900px;
  margin-top: 280px;

}

.hyperbolic__image{
  margin-left: 900px;
  margin-top: 280px;
  height: 40px;
  border: 1px red solid;
}

.showup__image{
  margin-left: 180px;
  margin-top: 280px;
  width: 500px;
}

.time__image{
  margin-left: 880px;
  margin-top: 150px;
  height: 40px;
  border: 1px red solid;
}
.timetwo__image{
  margin-left: 380px;
  margin-top: 280px;
  height: 40px;
  border: 1px red solid;
}
.timethree__image{
  margin-left: 680px;
  margin-top: 520px;
  height: 40px;
  border: 1px red solid;
}
.front__image{
  margin-left: 680px;
  margin-top: 190px;
  height: 40px;
  border: 1px red solid;
}

.deny__image{
  margin-left: 80px;
  margin-top: 60px;
  height: 40px;
  border: 1px red solid;
}




.transcript_info__image{
  margin-top: 150px;
  margin-left: 0px;
  width: 390px;
  transition: 2s;
  border: 1px solid red;
  box-shadow: 5px 5px 10px #888888;
}




.online__image{
  margin-top: 200px;
  margin-left: 400px;
  width: 300px;
}

.AFRAID__image{
  margin-left: 900px;
  margin-top: 3px;
  width: 500px;
}

.split__image{
  margin-left: 300px;
  margin-top: 600px;
}
.split_info__image{
  margin-left: 900px;
  margin-top:400px;
  width: 420px;
  border: 1px solid red;
  box-shadow: 5px 5px 10px #888888;
}

.joyless_image{
  margin-left: 200px;
  margin-top: 100px;

}

.joyless_info__image{
  margin-left: 100px;
  margin-top:100px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.wakeup_image{
  margin-left: 100px;
  margin-top: 300px;

}

.wakeup_info__image{
  margin-left: 200px;
  margin-top:400px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.online_image{
  margin-left: 500px;
  margin-top: 300px;

}

.online_info__image{
  margin-left: 400px;
  margin-top:200px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.building_image{
  margin-left: 200px;
  margin-top: 300px;

}

.building_info__image{
  margin-left: 820px;
  margin-top:30px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.truism_image{
  margin-left: 200px;
  margin-top: 300px;

}

.truism_info__image{
  margin-left: 400px;
  margin-top:100px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.yourself_image{
  margin-left: 200px;
  margin-top: 300px;

}

.yourself_info__image{
  margin-left: 20px;
  margin-top:300px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.offline_image{
  margin-left: 200px;
  margin-top: 300px;

}

.offline_info__image{
  margin-left: 890px;
  margin-top:3s00px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}



.realname_info__image{
  margin-left: 200px;
  margin-top:200px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}



.passport_info__image{
  margin-left: 900px;
  margin-top:300px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.gesture_info__image{
  margin-left: 20px;
  margin-top:350px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.amazon_info__image{
  margin-left: 40px;
  margin-top:120px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}
.anonymous_info__image{
  margin-left: 940px;
  margin-top:100px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}
.synchronized_info__image{
  margin-left: 500px;
  margin-top:100px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}
/*images*/



.camera{
  margin-left: 560px;
  margin-top: 780px;
  display: inline-block;
  position: absolute;

}



.transcript{
  margin-left: 390px;
  margin-top: 780px;
  position: absolute;
}

.transcript:hover{
  display: none;
  transition: 1s ease-in-out;
}





/*index*/
html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#experiment {
    perspective: 9000px;
    height: 100vh;
    width: 100%;
  overflow: hidden;
}

.cube {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
.face {
    position: absolute;
    height: 300%;
    width: 100%;
    color: pink;
    transition: transform 3s linear;
}
.cube .front {

    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
    transform-origin: center center;
    background-image: url("https://i.ytimg.com/vi/gKKYnNvfU1A/maxresdefault.jpg" ) ;
    height: 100vh;
    width: 100vw;

}

.cube .side {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg);
    background-image: url("https://i.ytimg.com/vi/gKKYnNvfU1A/maxresdefault.jpg" ) ;
}

.cube .bottom {
    transform:  rotateZ(-90deg) translateX(-50%) rotateZ(-90deg) translateZ(50%) rotateZ(90deg);
    background-color:blue;
}
.cube:hover .front {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg);
}

.cube:hover .side {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
}

.cube:hover .bottom {
    transform:  rotateZ(-90deg) translateX(-50%) rotateZ(0deg) translateX(50%) rotateZ(90deg);
}


/*autoscroll*/

.autoscroller {
  max-width: calc(100% 20px);
  background: url("https://i.ytimg.com/vi/gKKYnNvfU1A/maxresdefault.jpg") no-repeat center center fixed;
 background-size: cover;
 height:100vh;
 width:100vw;
  overflow: auto;
}
.autoscroller pre {
   word-break: break-word;
}
