<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout3</title>
    <style media="screen">
      .margin {
        margin-left: 200px;
        border-left: 2px solid;
        padding-left: 100px;
        width: 400px;

      }

      .two {
        margin-left:900px;
      }

      .three {
        margin-left: 600px;
      }
          </style>
  </head>
  <body>
    <div class="margin one">
      <h1>header</h1>
      <h2>header</h2>
    </div>

    <div class="margin two">
      be more positive
    </div>

    <div class="margin three">be more positive </div>

  </body>
</html>
