h1{
  font-family: arial;
  font-size: 25pt;
  color: red;
  text-align: center;
  margin-top: 50px;
}

body{
  background-color: lightyellow;
}

p{
  font-family: arial;
  font-size: 20pt;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
}

blockquote{
  margin-left: 500px;
  margin-right: 500px;
  text-align: justify;
  font-size: 12pt;
  font-family: arial;
  border: none;
  padding: 20px;
}

a:link{
  color: red;
  text-decoration: none;
  }

a:visited{
  color: blue;
}
/* title */
.rotate-x {
  animation: spinX 7s infinite linear;
}


@keyframes spinX {
  from { transform: rotateX(0); }
  to { transform: rotateX(360deg); }
}

.contents{
	position: fixed;
	font-family: arial;
	border: 1px solid;
	border-color: RED;
	padding: 15px;
	font-size: 10pt;
	width: 250px;
	margin-left: 40px;
	top: 60px;
	color: black;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;

}

/* inset text images*/
.thumbnail{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;

}
.thumbnailsplit{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailjoyless{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailwakeup{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}

.thumbnailonline{
  display: inline block;
  width:40px;
  padding: 0px;
  position: absolute;
  transition: 1s;
  box-shadow: 5px 5px 10px #888888;
}


.thumbnail:hover {
    width:600px;

    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
    transform: scale(1,1)
}
.thumbnailsplit:hover {
    width:600px;

    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;


}

.thumbnailjoyless:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailwakeup:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}

.thumbnailonline:hover {
    width:600px;
    transition: 1s ease-in-out;
    margin: auto;
    position: absolute;
}


.link{
  color: blue;
}

.rollover{
  color: red;
}
.rollover:hover{
  color: blue;
}

.appear{
  position: fixed;
  display: none;
  pointer-events: none;
  top: 50px;
  left: 20px;


}
.appear.showme{
  display: block;
  top: 50px;
  left: 20px;
}

.rotate{
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  transition: all 1s;
  transform: scale(0)rotate(0deg);


}

.rotate.showme{
  visibility: visible;
  transition: all 1s;
  transform: scale(1) rotate(360deg);
  position: fixed;
  display: block;
}

.disappear{
  position: fixed;
  display: block;
  pointer-events: none;
  top: 50px;
  left: 20px;

}
.disappear.showme{
  display: none;
  top: 50px;
  left: 20px;

}

.singlekey__image{
  margin-top: 200px;
  margin-left:300px;
}

.computer__image{
  margin-top: 90px;
  margin-left: 360px;
  width: 150px;
}
.record__image{
  margin-top: 200px;
  margin-left: 420px;
  width: 150px;
}

.transcript_info__image{
  margin-top: 150px;
  margin-left: 0px;
  width: 390px;
  transition: 2s;
  border: 1px solid red;
  box-shadow: 5px 5px 10px #888888;
}

.online__image{
  margin-top: 200px;
  margin-left: 400px;
  width: 300px;
}

.AFRAID__image{
  margin-left: 900px;
  margin-top: 3px;
  width: 500px;
}

.split__image{
  margin-left: 300px;
  margin-top: 600px;
}
.split_info__image{
  margin-left: 900px;
  margin-top:400px;
  width: 420px;
  border: 1px solid red;
  box-shadow: 5px 5px 10px #888888;
}

.joyless_image{
  margin-left: 200px;
  margin-top: 100px;

}

.joyless_info__image{
  margin-left: 100px;
  margin-top:100px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.wakeup_image{
  margin-left: 100px;
  margin-top: 300px;

}

.wakeup_info__image{
  margin-left: 80px;
  margin-top:300px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}

.online_image{
  margin-left: 500px;
  margin-top: 300px;

}

.online_info__image{
  margin-left: 900px;
  margin-top:200px;
  width: 420px;
box-shadow: 5px 5px 10px #888888;
  border: 1px solid red;
}



/*images*/



.camera{
  margin-left: 560px;
  margin-top: 780px;
  display: inline-block;
  position: absolute;

}



.transcript{
  margin-left: 390px;
  margin-top: 780px;
  position: absolute;
}

.transcript:hover{
  display: none;
  transition: 1s ease-in-out;
}





/*index*/
html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}

#experiment {
    perspective: 2000px;
    height: 100%;
    width: 100%;
  overflow: hidden;
}

.cube {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    color: pink;
    transition: transform 4s linear;
}
.cube .front {

    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
    transform-origin: center center;
    background-color:pink;
}

.cube .side {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg);
    background-color:navy;
}

.cube .bottom {
    transform:  rotateZ(-90deg) translateX(-50%) rotateZ(-90deg) translateZ(50%) rotateZ(90deg);
    background-color:blue;
}
.cube:hover .front {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg);
}

.cube:hover .side {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
}

.cube:hover .bottom {
    transform:  rotateZ(-90deg) translateX(-50%) rotateZ(0deg) translateX(50%) rotateZ(90deg);
}




/*indexvariation2 styling*/
.room__container {
    height: 100%;
    transform-style: preserve-3d;
}

.room {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin: -50vh 0 0 -50vw;
    pointer-events: none;
    opacity: 0;
    transform-style: preserve-3d;

}

.room__side {
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}


.room__side--left,
.room__side--right {
	width: 4000px; /* depth */
	height: 100vh;
	background: WHITE;
}

.room__side--back {
	width: 100vw;
	height: 100vh;
	background: WHITE;
	box-shadow: 0 0 0 2px #e9e9e9;
	transform: translate3d(0, 0, -4000px) rotate3d(1,0,0,0.1deg) rotate3d(1,0,0,0deg);
}

.room__side--right {
	right: 0;
	justify-content: flex-end;
	transform: rotate3d(0, 1, 0, -90.03deg);
	transform-origin: 100% 50%;
}

.room__side--left {
	justify-content: flex-start;
	transform: rotate3d(0, 1, 0, 90deg);
	transform-origin: 0 50%;
}

.room__side--bottom {
	width: 100vw; /* depth */
	height: 4000px;
	background: WHITE;
	transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -4000px, 0);
	transform-origin: 50% 0%;
}

.room__side--bottom {
	top: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    perspective: 2000px;
}

.title {
  flex:none;
  font-size: 200px;
  margin:0 5%;
}

.room__side:hover {
  background-color: yellow;
}
